:root {
    --azul-royal: #0A1AFF;
    --azul-claro: #E6E9FF;
}

.reveal h1,
.reveal h2,
.reveal h3 {
    color: var(--azul-royal);
}

.reveal p,
.reveal li {
    color: #000;
    font-size: 1.1em;
}

.reveal ul {
    margin-top: 20px;
}

.box {
    margin-top: 25px;
    padding: 20px;
    border-left: 6px solid var(--azul-royal);
    background-color: var(--azul-claro);
    font-size: 1.05em;
    border-radius: 6px;
}

small {
    color: #444;
}
